.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for visual effect */
  }
  
@media (max-height: 800px) {
.fixed-bottom {
    position: relative;
    bottom: auto;
}
}