/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-snackbar .mdc-snackbar__surface{
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity))!important;
    width: 80%!important;
    min-width: 318px!important;
    padding-left:10px;
}
.custom-snackbar .mat-mdc-snack-bar-label .mdc-snackbar__label{
    color: black;
    font-weight: 400;
    font-size: medium;
}

.mat-mdc-slider .mdc-slider__tick-marks{
    background-color: rgb(24 109 227);
}
.mat-mdc-slider .mdc-slider__thumb-knob{
    --tw-bg-opacity: 1;
    border-color: rgb(31 41 55 / var(--tw-bg-opacity))!important;
    
}
@media (min-width: 430px) {
    .mat-mdc-slider{
        margin-left: 20px!important;
    }
}
@media (min-width: 768px) {
    .mat-mdc-slider{
        margin-left: 8px!important;
    }
}
